<body class = "home-body">   
    <h1 style="text-align: center; background-color: aqua;">Bilberies</h1>

    <div class="links-container" style="text-align: center; margin-top: 60px;">
        <ul style="list-style-type: none; padding: 0;">
            <li style="margin: 10px 0;">
            <%= link_to 'Vehicles', vehicles_path, class: 'button-main-page' %>
            </li>
            <li style="margin: 10px 0;">
            <%= link_to 'Drivers', drivers_path, class: 'button-main-page' %>
            </li>
            <li style="margin: 10px 0;">
            <%= link_to 'Deliveries', deliveries_path, class: 'button-main-page' %>
            </li>
            <li style="margin: 10px 0;">
            <%= link_to 'Orders', orders_path, class: 'button-main-page' %>
            </li>
        </ul>
    </div>
</body>  
